# Part A - Built a Baseline Model

## Imports

In [4]:
import pandas as pd
import numpy as np

import keras

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D 
from keras.layers import Flatten

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Retrieve the data

In [5]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Define Predictors & Target

In [9]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [12]:
# number of predictors
n_predictors = predictors.shape[1] 
n_predictors

8

## Train & Evaluate the model

In [13]:
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_predictors,)))  
    model.add(Dense(1)) 
    
    #compile model
    model.compile(optimizer='adam', loss='mean_squared_error') 
    return model

Split the data

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

Initialize the model with the function created before

In [15]:
# Initialize the model
model = create_model()

2024-02-07 16:51:20.781114: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2024-02-07 16:51:20.781207: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2024-02-07 16:51:20.781258: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (asus): /proc/driver/nvidia/version does not exist
2024-02-07 16:51:20.781744: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Train the model on 50 epochs

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
22/22 [==============================] - 0s 2ms/step - loss: 40.3838
Epoch 2/50
22/22 [==============================] - 0s 2ms/step - loss: 41.5668
Epoch 3/50
22/22 [==============================] - 0s 2ms/step - loss: 40.6739
Epoch 4/50
22/22 [==============================] - 0s 2ms/step - loss: 42.3392
Epoch 5/50
22/22 [==============================] - 0s 1ms/step - loss: 41.6418
Epoch 6/50
22/22 [==============================] - 0s 1ms/step - loss: 43.0005
Epoch 7/50
22/22 [==============================] - 0s 1ms/step - loss: 42.3479
Epoch 8/50
22/22 [==============================] - 0s 1ms/step - loss: 42.3984
Epoch 9/50
22/22 [==============================] - 0s 1ms/step - loss: 41.6388
Epoch 10/50
22/22 [==============================] - 0s 1ms/step - loss: 42.1527
Epoch 11/50
22/22 [==============================] - 0s 1ms/step - loss: 43.8548
Epoch 12/50
22/22 [==============================] - 0s 1ms/step - loss: 43.4157
Epoch 13/50
22/22 [==============================] - 0s 1ms/step - loss: 40.8277
Epoch 14/50
22/22 [==============================] - 0s 2ms/step - loss: 42.0315
Epoch 15/50
22/22 [==============================] - 0s 3ms/step - loss: 41.3438
Epoch 16/50
22/22 [==============================] - 0s 2ms/step - loss: 40.3608
Epoch 17/50
22/22 [==============================] - 0s 2ms/step - loss: 42.1459
Epoch 18/50
22/22 [==============================] - 0s 1ms/step - loss: 43.3663
Epoch 19/50
22/22 [==============================] - 0s 2ms/step - loss: 42.6846
Epoch 20/50
22/22 [==============================] - 0s 2ms/step - loss: 40.6374
Epoch 21/50
22/22 [==============================] - 0s 2ms/step - loss: 41.2374
Epoch 22/50
22/22 [==============================] - 0s 1ms/step - loss: 41.5540
Epoch 23/50
22/22 [==============================] - 0s 1ms/step - loss: 40.6946
Epoch 24/50
22/22 [==============================] - 0s 1ms/step - loss: 41.5602
Epoch 25/50
22/22 [==============================] - 0s 1ms/step - loss: 42.9834
Epoch 26/50
22/22 [==============================] - 0s 1ms/step - loss: 41.9862
Epoch 27/50
22/22 [==============================] - 0s 1ms/step - loss: 42.2613
Epoch 28/50
22/22 [==============================] - 0s 1ms/step - loss: 41.9082
Epoch 29/50
22/22 [==============================] - 0s 1ms/step - loss: 42.4504
Epoch 30/50
22/22 [==============================] - 0s 1ms/step - loss: 47.3019
Epoch 31/50
22/22 [==============================] - 0s 1ms/step - loss: 41.0222
Epoch 32/50
22/22 [==============================] - 0s 1ms/step - loss: 46.0621
Epoch 33/50
22/22 [==============================] - 0s 1ms/step - loss: 42.9800
Epoch 34/50
22/22 [==============================] - 0s 1ms/step - loss: 47.6408
Epoch 35/50
22/22 [==============================] - 0s 3ms/step - loss: 41.4825
Epoch 36/50
22/22 [==============================] - 0s 2ms/step - loss: 43.1640
Epoch 37/50
22/22 [==============================] - 0s 2ms/step - loss: 40.6331
Epoch 38/50
22/22 [==============================] - 0s 1ms/step - loss: 45.2432
Epoch 39/50
22/22 [==============================] - 0s 2ms/step - loss: 42.8376
Epoch 40/50
22/22 [==============================] - 0s 3ms/step - loss: 40.9252
Epoch 41/50
22/22 [==============================] - 0s 2ms/step - loss: 42.7420
Epoch 42/50
22/22 [==============================] - 0s 1ms/step - loss: 41.0911
Epoch 43/50
22/22 [==============================] - 0s 1ms/step - loss: 39.7697
Epoch 44/50
22/22 [==============================] - 0s 2ms/step - loss: 45.6589
Epoch 45/50
22/22 [==============================] - 0s 1ms/step - loss: 45.0112
Epoch 46/50
22/22 [==============================] - 0s 1ms/step - loss: 41.5559
Epoch 47/50
22/22 [==============================] - 0s 2ms/step - loss: 42.9165
Epoch 48/50
22/22 [==============================] - 0s 2ms/step - loss: 43.8319
Epoch 49/50
22/22 [==============================] - 0s 1ms/step - loss: 43.0727
Epoch 50/50
22/22 [==============================] - 0s 1ms/step - loss: 41.2840

Evaluate the model on the test dataset

In [22]:
loss_val = model.evaluate(X_test, y_test)
loss_val

11/11 [==============================] - 0s 2ms/step - loss: 46.5531

46.5530891418457

Make a prediction

In [23]:
y_pred = model.predict(X_test)

11/11 [==============================] - 0s 2ms/step

Compute the Mean Squared Error & Standard Deviation

In [24]:
mse = mean_squared_error(y_test, y_pred)
mean_mse = np.mean(mse)
standard_deviation = np.std(mse)
print(mean_mse, standard_deviation)

46.55308698434392 0.0

Create a list of 50 Mean squared errors & standard deviation

In [25]:
num_iterations = 50
mse_scores = []
epochs=50

for i in range(0, num_iterations):
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.33, random_state=i)

    # train the model
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    
    # Evaluation
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    
    # Prediction
    y_pred = model.predict(X_test)
    
    # Compute MSE
    mse = mean_squared_error(y_test, y_pred)
    
    # Add MSE to the list
    mse_scores.append(mse)

# Compute MSE & STD
mean_mse = np.mean(mse_scores)
std_dev_mse = np.std(mse_scores)

# Print the results
print("Mean of Mean Squared Errors:", mean_mse)
print("Standard Deviation of Mean Squared Errors:", std_dev_mse)

MSE 1: 48.75705337524414
11/11 [==============================] - 0s 1ms/step
MSE 2: 46.92841339111328
11/11 [==============================] - 0s 1ms/step
MSE 3: 62.50506591796875
11/11 [==============================] - 0s 2ms/step
MSE 4: 46.316810607910156
11/11 [==============================] - 0s 2ms/step
MSE 5: 41.953285217285156
11/11 [==============================] - 0s 2ms/step
MSE 6: 48.49091720581055
11/11 [==============================] - 0s 2ms/step
MSE 7: 50.8042106628418
11/11 [==============================] - 0s 1ms/step
MSE 8: 39.374446868896484
11/11 [==============================] - 0s 1ms/step
MSE 9: 44.2526741027832
11/11 [==============================] - 0s 1ms/step
MSE 10: 43.82412338256836
11/11 [==============================] - 0s 2ms/step
MSE 11: 41.267269134521484
11/11 [==============================] - 0s 1ms/step
MSE 12: 42.63924026489258
11/11 [==============================] - 0s 2ms/step
MSE 13: 50.12614822387695
11/11 [==============================] - 0s 1ms/step
MSE 14: 45.6815071105957
11/11 [==============================] - 0s 1ms/step
MSE 15: 45.336280822753906
11/11 [==============================] - 0s 1ms/step
MSE 16: 36.58869934082031
11/11 [==============================] - 0s 1ms/step
MSE 17: 49.91041946411133
11/11 [==============================] - 0s 1ms/step
MSE 18: 48.02261734008789
11/11 [==============================] - 0s 1ms/step
MSE 19: 39.2397575378418
11/11 [==============================] - 0s 1ms/step
MSE 20: 41.58934020996094
11/11 [==============================] - 0s 1ms/step
MSE 21: 47.058475494384766
11/11 [==============================] - 0s 1ms/step
MSE 22: 42.539276123046875
11/11 [==============================] - 0s 1ms/step
MSE 23: 39.05759048461914
11/11 [==============================] - 0s 1ms/step
MSE 24: 45.12504959106445
11/11 [==============================] - 0s 1ms/step
MSE 25: 42.72552490234375
11/11 [==============================] - 0s 1ms/step
MSE 26: 52.07964324951172
11/11 [==============================] - 0s 1ms/step
MSE 27: 42.91600036621094
11/11 [==============================] - 0s 1ms/step
MSE 28: 41.19646072387695
11/11 [==============================] - 0s 2ms/step
MSE 29: 47.29335403442383
11/11 [==============================] - 0s 2ms/step
MSE 30: 40.94799041748047
11/11 [==============================] - 0s 1ms/step
MSE 31: 51.47583770751953
11/11 [==============================] - 0s 1ms/step
MSE 32: 38.9764518737793
11/11 [==============================] - 0s 2ms/step
MSE 33: 46.49760437011719
11/11 [==============================] - 0s 1ms/step
MSE 34: 43.477874755859375
11/11 [==============================] - 0s 1ms/step
MSE 35: 43.090919494628906
11/11 [==============================] - 0s 1ms/step
MSE 36: 47.31465530395508
11/11 [==============================] - 0s 1ms/step
MSE 37: 45.39828109741211
11/11 [==============================] - 0s 1ms/step
MSE 38: 46.0902099609375
11/11 [==============================] - 0s 1ms/step
MSE 39: 41.65610122680664
11/11 [==============================] - 0s 1ms/step
MSE 40: 49.994728088378906
11/11 [==============================] - 0s 2ms/step
MSE 41: 46.74650955200195
11/11 [==============================] - 0s 1ms/step
MSE 42: 43.19002151489258
11/11 [==============================] - 0s 1ms/step
MSE 43: 46.51218032836914
11/11 [==============================] - 0s 2ms/step
MSE 44: 45.90679168701172
11/11 [==============================] - 0s 1ms/step
MSE 45: 47.51087951660156
11/11 [==============================] - 0s 1ms/step
MSE 46: 48.50432586669922
11/11 [==============================] - 0s 1ms/step
MSE 47: 43.24184036254883
11/11 [==============================] - 0s 1ms/step
MSE 48: 42.94293212890625
11/11 [==============================] - 0s 1ms/step
MSE 49: 53.76702117919922
11/11 [==============================] - 0s 2ms/step
MSE 50: 44.62984085083008
11/11 [==============================] - 0s 1ms/step
Mean of Mean Squared Errors: 45.42945311987108
Standard Deviation of Mean Squared Errors: 4.435524814174539